.hexagon {
  stroke: black;
  sroke-width: 1;
}

.hex .hexagon {
  stroke:black;
  stroke-width:1;
  fill:white;
}
.hex.empty .hexagon {
  stroke:#ccc;
  stroke-width:1;
  fill:white;
}
.hex.empty text {
  fill:#ccc;
}
.hex.plains .hexagon {
  fill:#e7f79c;
}
.hex.forest .hexagon {
  fill:#7aad43;
}
.hex.hills .hexagon {
  fill:#c3d263;
}
.hex.mountain .hexagon {
  fill:#b28000;
}
.hex.swamp .hexagon {
  fill:#addea5;
}
.hex text {
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 2px;
}