input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.HexEditMenu {
  border:1px solid black;
  border-radius:4px;
  background:white;
  width:200px;
  z-index:100;
  padding:8px;
}

#hex-edit-form input,
#hex-edit-form button {
  width:100%;
}
#hex-edit-form>*:not(:last-child) {
  margin-bottom:5px;
}
#add-hexes-message {
  display:none;
  text-align:center;
}
#hex-edit-form .form-group {
  margin-bottom:0;
}
#hex-edit-form button {
  outline:none;
}